<div class="intro">
        <div class="clear"></div>
        <div id="page-content">
            <hr>
            <hr>
            <div class="container">
                <div class="jumbotron">
                  <h2>Es tu Posible Donador </h2> 
                  <p>Agregala a tu lista de Donadores Envia un Mensaje .</p> 
                </div>
                
              </div>
       
        <section class="blog-page">
               
               
                <div class="container">
                   
                   
                 <div class="social-post">
                                    <div><img src="assets/images/agent4.jpg" class="social-img"></div>
                                    <div class="social-text">
                                        <h6><i class="fa fa-user mr-5"></i> Jack Ressico</h6>
                                        <h5>"Vivamus faucibus magna vitae purus blandit, rutrum aliquam turpis bibendum. Ut sit amet sapien dolor. Integer eget orci id leo consectetur iaculis ut vitae neque."</h5>
                                        <div class="display-line sm-inline">
                                            <a href="#" class="blue-text">View All Post</a>
                                            <ul class="ml-auto social-icon">
                                                <li>
                                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#"><i class="fa fa-youtube"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                </div>
        </section>
                            