

<div class="intro">
    <div class="clear"></div>
    <div id="page-content">
            <hr>
            <hr>
           
        <div class="container">
            
                <div class="jumbotron">
                        <h2>Tu escritorio </h2> 
                        
                      </div>
          
          </div>
          
           
          


          <section class="blog-page">
              <div class="container">
                  <div class="row">
                      <div class="col-sm-8">
                          <div class="single-post">
                                
                              <div class="blog-img">
                                  <a href="">
                                      <img src="assets/images/slider-img1.jpg" class="img-responsive">
                                  </a>
                                  <div class="blog-icon"><img src="assets/images/icon2.png"></div>
                              </div>

       
                              
                    
            
       
        
   
                              <section class="breadcrumb">
                              <ul>
                                    <li><input type="submit" class="btn-default" value="Heroes" /></li>
                                    <li><input type="submit" class="btn-default" value="Tu Lista" /></li>
                                    <li><input type="submit" class="btn-default" value="Pruebaa" /></li>
                                </ul>
                                </section>

                              <h2 class="blog-title">Dona vida Ayuda a otros a Continuar conviertete en Heroe</h2>
                          </div>
                     
                         Leave A C <!-- Leave comment -->
                         
                            <h3>Comparte en las redes Sociales ayuda a Llegar a mas Personas</h3>
                      </div>
                      
                      
                      <div class="col-sm-4">
  
                              <h2>Unete a la Lista de Donadores</h2>
                              <form  class="comment">
                                  <div class="row">
                                      <div class="col-sm-8">
                                          <div>
                                              <input type="text" name="nombre"  placeholder="Nombre" />
                                          </div>
                                          <div>
                                              <input type="text" name="email"   placeholder="Email" />
                                          </div>
                                          <div>
                                              <input type="text" name="tipoSangre"  placeholder="Tipo de Sangre" />
                                          </div>
                                          <div>
                                              <input type="text" name="ciudad"  placeholder="Ciudad" />
                                          </div>
                                      </div>
                                      <div class="col-sm-10">
                                          <div>
                                              <textarea rows="1" cols="1"  placeholder="Mensaje de esperanza"></textarea>
                                          </div>
                                          <div>
                                              <input type="submit" class="btn-primary" value="Submit" />
                                          </div>
                                          <div>
                                            <input type="reset" class="btn-default"   />
                                        </div>
                                      </div>
                                  </div>
                              </form>
                        
                      </div>
                  </div>
              </div>
          </section>
          